<div class="text-center py-6 max-md:py-16 md:mb-20 mt-[calc(50px-.75em)]">
  <h1 class="text-3xl font-bold mb-2">Resizable pane components for Phoenix LiveView.</h1>
</div>

<.navbar />

<div class="px-2 max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-[12rem_auto] gap-8">
  <LivePane.group id="demo">hello</LivePane.group>
</div>
