<div class="text-center py-6 max-md:py-16 md:mb-20 mt-[calc(50px-.75em)]">
  <h1 class="text-4xl font-extrabold mb-2">Live Pane</h1>
  <p class="text-lg text-gray-600">
    Resizable pane components for Phoenix LiveView.
  </p>
</div>

<.navbar />

<div class="px-2 max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-[12rem_auto] gap-8"></div>
