<.navbar />

<div class="container mx-auto flex pt-4 relative">
  <.layout_with_sidebar />
  <!-- Main content -->
  <main class="mt-12 flex-1 ml-2 2xl:ml-[220px] p-3 md:p-6">
    {@inner_content}
  </main>
</div>
